# Avoid ide configuration files
.vscode
.idea

# Avoid .env files with properties of some environment
.env

# Avoid properties files
*.properties


# Avoid the packages on node projects
node_modules

# Avoid class and jar files on java projects
*.class
*.jar

temp


*.tgz